@page "/"

@if (IsProcessing)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/loader.gif"/>
    </div>
}
else
{
    <EditForm Model="HomeModel" OnValidSubmit="SaveInitialData">
        <div class="row p-0 mx-0 mt-4">
            <div class="col-12 col-md-5  offset-md-1 pl-2  pr-2 pr-md-0">
                <div class="form-group">
                    <label>Check In Date</label>
                    <InputDate min="@DateTime.UtcNow.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)"
                               @bind-Value="HomeModel.StartDate"
                               class="form-control"/>
                </div>
            </div>
            <div class="col-8 col-md-3 pl-2 pr-2">
                <div class="form-group">
                    <label>No. of nights</label>
                    <select class="form-control" @bind="HomeModel.NoOfNights">
                        @for (var i = 1; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4 col-md-2 p-0 pr-2">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="submit" value="Go" class="btn btn-success btn-block"/>
                </div>
            </div>
        </div>
    </EditForm>
    <hr/>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="text-success">Explore our Amenities</h2>
            </div>
        </div>
        <div class="row">
            @if (HotelAmenities is not null)
            {
                @foreach (var amenity in HotelAmenities)
                {
                    <div class="col-md-4 col-6 p-4">
                        <div style="border:1px solid #d5d5d5; border-radius:20px;">
                            <div class="row col-4 offset-4 p-4">
                                <i class="@amenity.IconStyle fa-4x"></i>
                            </div>
                            <div class="text-center justify-content-center">
                                <h5 class="text-success">@amenity.Name</h5>
                                <p>@amenity.Description</p>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
}