@page "/hotel-room"

@inherits OwningComponentBase<IHotelRoomService>

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Hotel Rooms</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="hotel-room/create" class="btn btn-info">Add New Room</NavLink>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Occupancy</th>
                <th>Rate</th>
                <th>
                    Sqft
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            @if (HotelRooms.Any())
            {
                foreach (var room in HotelRooms)
                {
                    <tr>
                        <td>@room.Name</td>
                        <td>@room.Occupancy</td>
                        <td>@room.RegularRate.ToString("c")</td>
                        <td>@room.SqFt</td>
                        <td>
                            <NavLink href="@($"hotel-room/edit/{room.Id}")" class="btn btn-primary">Edit</NavLink>
                            <button class="btn btn-danger" @onclick="() => HandleDeleteRoom(room)">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<Confirmation @ref="Confirmation1"
              OnCancel="OnCancelDeleteRoomClicked"
              OnConfirm="OnConfirmDeleteRoomClicked">
    <div>
        Do you want to delete @RoomToBeDeleted?.Name?
    </div>
</Confirmation>